<!doctype html>
<html lang="en">
<head>
    <title>Homepage | {{user.first_name}}</title>
</head>
<body>
    <h1>Hello {{user.first_name}}!</h1>
    <table>
        <thead>
        <tr>
            <td>Symbol</td>
            <td>Name</td>
            <td>Price</td>
            <td>Currency</td>
        </tr>
        </thead>
        <tbody>
        {% for stock in  stocks %}
        <tr id="{{stock.symbol}}">
            <td>{{stock.symbol}}</td>
            <td>{{stock.name}}</td>
            <td>{{stock.close|floatformat:2}}</td>
            <td>{{stock.currency}}</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript">
        let url = "ws://127.0.0.1:8000/ws/stock-prices"

        const chatSocket = new WebSocket(url)

        chatSocket.onmessage = function(e){
            let data = JSON.parse(e.data)
            console.log("ws-message:", data)
        }
    </script>
</body>
</html>